body {
    margin: 0;
    display: grid;
    height: 100vh;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 3fr 1fr;
    grid-template-areas: "logo navbar" "sidebar main" "footer footer";
}

.logo {
    background: lightcoral;
    grid-area: logo;
}

nav {
    background: yellow;
    grid-area: navbar;
}

aside {
    background: palevioletred;
    grid-area: sidebar;
}

main {
    background: skyblue;
    grid-area: main;
}

footer {
    background: palegreen;
    grid-area: footer;
}

/* Ex: 01
body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
    grid-template-areas: "header header header header" "main main . sidebar" "footer footer footer footer";
}

.container {
    border: 2px solid;
    display: grid;
}

header {
    background-color: orange;
    grid-area: header;
}

main {
    background-color: deepskyblue;
    grid-area: main;
}

aside {
    background-color: lightcoral;
    grid-area: sidebar;
}

footer {
    background-color: yellowgreen;
    grid-area: footer;
}
*/